<!--<nav class="navbar navbar-expand-sm navbar-dark">-->
<!--  <ul class="navbar-nav">-->
<!--    <li>-->
<!--      <a routerLink="equipements" class="nav-link">Equipements</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="addEquipement" class="nav-link">Add Equipement</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="addPanne" class="nav-link">Add Panne</a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a routerLink="pannes" class="nav-link">Pannes</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
<router-outlet></router-outlet>
